# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nbactions-release-profile.xml
nb-configuration.xml

# Maven #
target/

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear